# .NET build folders
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio folders
.vs/
.vscode/

# Database and temp files
*.db-shm
*.db-wal
*.db
*.pdb

# Executables
*.exe
*.dll

# Project-specific
*.pgerd
*.backup.json

# JSON file changes (optional)
!DocumentLayout.json

# ReSharper / Rider
.idea/
*.sln.iml

# Logs
*.log

# Others
*.cache
*.tmp
